---
layout: page
title: Subjects
---

<div id="subjects" class="d-flex flex-wrap mx-xl-2">
  {% assign subjects = '' | split: '' %}
  {% for post in site.posts %}
    {% if post.subject %}
      {% unless subjects contains post.subject %}
        {% assign subjects = subjects | push: post.subject %}
      {% endunless %}
    {% endif %}
  {% endfor %}

  {% assign sorted_subjects = subjects | sort_natural %}

  {% for s in sorted_subjects %}
    <div>
      <a class="tag" href="{{ s | slugify | url_encode | prepend: '/subject/' | append: '/' | relative_url }}">
        {{ s }}
        <span class="text-muted">
          {{ site.posts | where: "subject", s | size }}
        </span>
      </a>
    </div>
  {% endfor %}
</div>
